<!-- Meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Scraping-manga">
<meta name="author" content="Irfan Chahyadi">

<!-- Favicon tags -->
<link href="/static/favicon.ico" rel="shortcut icon">

<!-- CSS tags -->
<link href="/static/css/offcanvas.css" rel="stylesheet" >
<link href="/static/css/bootstrap.min.css" rel="stylesheet" >

<!-- Javascript tags -->
<script src="/static/js/offcanvas.js"></script>
<script src="/static/js/jquery-3.4.1.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/tooltip.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>



<script>
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>